@charset "ISO-8859-1";

body {
	text-align: cenetr;
	background-color: black;
	display: flex;
	align-content: center;
	justify-content: center;
}

form {
	text-align: center;
}

.elements {
	border-radius: 50px;
}

.in {
	height: 40px;
	font-size: 45px;
	font-family: fantasy;
}

button {
	width: 5vw;
	height: 40px;
	font-size: 2vw;
	font-family: fantasy;
}

button:hover {
	background-color: red;
	color: white;
}

#button-elements {
	padding: 10px;
	margin-top: 3vh;
}

#input-number {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

input {
	margin: 1vh;
}

p {
	color: white;
	font-size: 50px;
	font-family: fantasy;
	user-select: none;
}